#titulo {
    text-align: center;
    font-size: 30px;
}

#container {
    text-align: center;
}

#buscar {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 25%;
    margin-left: 37.5%;
}

#botonBuscar {
    margin-left: 47.5%;
    margin-top: 10px;
}

.result {
    text-align: center;
}